.card__content {
  width: 94%;
  height: 124px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:hover{
    background-color: #edebc9;
  }

  .content__info {
    width: 80%;
    display: flex;
    gap: 1rem;
    padding: 0 0 0 1rem;

  }

  .content__action {
    width: 20%;
    padding: 0 1rem 0 0;

    button {
      background-color:#09a6a3;
      border-radius:4px;
      display:inline-block;
      cursor:pointer;
      color:#ffffff;
      font-size:17px;
      padding: 8px 15px;
      text-decoration:none;
      text-shadow:0px 1px 0px #000000;
    }

    button:hover {
      background-color:#00ccbe;
    }

    .content__delete {
      margin: 0 0 0 1rem;
      &:hover {
        background-color: red;
      }
    }
  }

}
